.product-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e5e5e5;
  border-radius: 30px;
  position: relative;
  padding: 10px;
  background-color: rgba(240, 191, 78, 0.05);
  padding: 1rem;
  margin: 0.5rem;
}
.prsc-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.prsc-title {
  font-family: IRANSansBold;
}
.prsc-desc {
  margin: 12px 0;
  color: #808080;
  line-height: 1.8;
  font-size: 0.7rem;
}
.prsc-price {
  display: flex;
  color: #ffc222;
  font-weight: 700;
  font-size: 0.8rem;

}

.prsc-price__toman{
  margin-right: 0.3rem;
}
.prsc-stk{
  margin-top: 1rem;
  display: flex;
}

.prsc-stk-text{
  color: red;
  font-size: 1.2rem;
  font-weight: bold;
}
@media only screen and (min-width: 900px) {
  .pr-img {
    width: 200px !important;
  }
  .prsc-title {
    font-size: 1.5rem;
  }
  .prsc-desc, .prsc-price{
    font-size: 0.9rem;
  }
  .product-section{
    padding: 1.5rem;
  }
}
